.building-cards {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 62px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include vp-1023 {
      gap: 20px;
      margin: 0;
    }

    @include vp-767 {
      gap: 40px;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 84px;

    @include vp-1023 {
      column-gap: 19px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  &__title {
    grid-column: 1/2;
    margin: 0;
    max-width: 440px;
    letter-spacing: -3px;

    @include vp-1023 {
      max-width: 200px;
      letter-spacing: -2px;
    }

    @include vp-767 {
      max-width: 260px;
      text-align: center;
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__head-text {
    grid-column: 3/4;
    margin: 0;
    max-width: 400px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    align-self: center;

    @include vp-1023 {
      max-width: 230px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }

    @include vp-767 {
      max-width: 250px;
      text-align: center;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 84px;

    @include vp-1023 {
      column-gap: 19px;
    }

    @include vp-767 {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin: 0 -20px;
      padding: 0 20px;
      justify-content: space-around;
      .building-cards__wrap::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__item {
    max-width: 400px;

    @include vp-767 {
      flex: 0 0 auto;
      max-width: 160px;
    }
  }

  &__img-wrap {
    margin: 0 0 20px 0;

    @include vp-1023 {
      margin: 0 0 22px 0;
      height: 410px;
    }

    @include vp-767 {
      margin: 0 0 18px 0;
      height: 285px;
    }
  }

  &__picture {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__item-text {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    letter-spacing: -0.08em;
    margin: 0 auto;
    max-width: 394px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -1px;
      margin: 0;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -1px;
    }
  }
}

.vp-375-none {
  @include vp-767 {
    display: none;
  }
}

.building-cards-item-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.building-cards-item-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.building-cards-item-3 {
  grid-column: 3/4;
  grid-row: 2/3;
}
