.cards-location {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 59px;
  }

  &__cards {
    display: flex;
    margin: 0 0 118px 0;
    justify-content: center;

    @include vp-1023 {
      margin: 0 0 80px 0;
    }

    @include vp-767 {
      margin-bottom: 64px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    text-align: center;
    flex: 1 1 33.333%;

    @include vp-1023 {
      flex: 1 1 50%;
      max-width: 266px;
    }

    @include vp-767 {
      max-width: 220px;
    }
  }

  &__picture {
    height: 100%;
  }

  &__image {
    height: 100%;
  }

  &__logo-text {
    display: block;
    margin: 0 0 10px 0;
    font-weight: 400;
    color: $color-fallow;
    text-transform: uppercase;
    letter-spacing: 0.19em;
    font-size: 18px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 5px 0;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 14px;
      margin: 0 0 9px 0;
    }
  }

  &__title {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    letter-spacing: -0.08em;

    @media (max-width: 1345px) {
      font-size: 35px;
    }

    @include vp-1023 {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px 0;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.08em;
      margin: 0 0 15px 0;
    }
  }

  &__loco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include vp-1023 {
      gap: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;

    @include vp-1023 {
      margin-top: 10px;
      padding: 0 0 38px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }

    @include vp-767 {
      padding: 0 0 22px 0;
      margin-top: 5px;
    }
  }

  &__footer {
    text-align: center;
    letter-spacing: -0.08em;

    @include vp-1023 {
    }
  }
}

.cards-location-logo-wrap {
  padding: 90px 0 0 0;
  margin: 0 0 30px 0;

  @include vp-1023 {
    padding: 40px 0 0 0;
    margin: 0 0 16px 0;
  }

  @include vp-767 {
    padding: 25px 0 0 0;
  }
}

.cards-location-logo {
  width: 110px;
  height: 146px;

  @include vp-1023 {
    width: 70px;
    height: 94px;
  }

  @include vp-767 {
    width: 60px;
    height: 80px;
  }
}

.icon-logo {
  width: 24px;
  height: 24px;

  @include vp-1023 {
    margin: 0;
    width: 20px;
    height: 20px;
  }
}

.third-card {
  @include vp-1023 {
    display: none;
  }
}

.card-loco {
}
