.leave-request {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }

  &__wrap {
    display: flex;

    @include vp-1023 {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      align-items: end;
      justify-items: center;
      max-width: 460px;
    }

    @include vp-767 {
      align-items: start;
      max-width: 320px;
    }
  }

  &__item {
    @include vp-767 {
      max-width: 320px;
    }
  }

  &__title {
    margin: 0 0 30px 0;
    letter-spacing: -3px;

    @include vp-1023 {
      margin: 0 0 20px 0;
      letter-spacing: -2px;
    }

    @include vp-767 {
      margin: 0 auto 15px auto;
      max-width: 270px;
      letter-spacing: -0.08em;
    }
  }

  &__text {
    max-width: 460px;
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;

    @include vp-1023 {
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -1px;
    }

    @include vp-767 {
      margin: 0 auto 20px auto;
      max-width: 295px;
    }
  }

  &__number {
    margin-bottom: 40px;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 140px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;

    @include vp-1023 {
      margin-bottom: 20px;
      font-size: 90px;
      line-height: 70px;
    }

    @include vp-767 {
      font-size: 70px;
      line-height: 50px;
    }
  }

  &__item-text {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    width: 260px;
    letter-spacing: -2px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      width: 160px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__picture {
    display: block;
    width: 100%;
    min-height: 410px;
    height: 100%;

    @include vp-767 {
      min-height: 285px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    min-height: 410px;
    height: 100%;

    @include vp-767 {
      min-height: 285px;
    }
  }
}

.leave-request-item-left {
  width: 485px;
  margin-right: 85px;
  padding: 202px 0 0 0;

  @include vp-1023 {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 340px;
    margin: 0 0 38px 0;
    padding: 0;
    text-align: center;
  }

  @include vp-767 {
    width: 320px;
  }
}

.leave-request-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 239px 20px 0 20px;
  width: 400px;
  letter-spacing: -6px;

  @include vp-1023 {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    padding: 133px 0 0 0;
    width: 100%;
    min-height: 410px;
  }

  @include vp-767 {
    min-height: 285px;
    padding: 83px 0 0 0;
  }
}

.leave-request-item-right {
  width: 400px;
  min-height: 700px;

  @include vp-1023 {
    margin: 0;
    grid-column: 2;
    grid-row: 2;
    min-height: 410px;
    width: 100%;
  }

  @include vp-767 {
    min-height: 285px;
  }
}
