.list-benefits {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 90px;
  }

  &__content {
    min-height: 700px;
    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      min-height: auto;
      flex-direction: column;
      gap: 80px;
    }

    @include vp-767 {
      gap: 60px;
    }
  }

  &__item {
    min-width: 400px;
    height: 100%;
    min-height: 700px;

    @include vp-1023 {
      min-height: auto;
    }

    @include vp-767 {
      min-width: auto;
    }
  }

  &__subtitle {
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 30px 0;
    font-size: 18px;
    letter-spacing: -0.01em;

    @include vp-1023 {
      margin: 0 0 20px 0;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }

    @include vp-767 {
      margin: 0 0 15px 0;
    }
  }

  &__wrap {
    display: flex;
    gap: 15px;

    @include vp-1023 {
      gap: 74px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 31px;
    }
  }

  &__list {
    margin: 0;

    @include vp-767 {
      padding: 0 0 0 18px;
    }
  }

  &__list-item {
    max-width: 369px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 15px 15px;
    letter-spacing: -0.01em;

    @include vp-1023 {
      max-width: 280px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }

    @include vp-767 {
      max-width: 270px;
      letter-spacing: -0.01em;
    }
  }

  &__list-item:last-child {
    margin-bottom: 0;
  }

  &__number {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    display: block;

    @include vp-1023 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__simbyl {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    display: inline-block;
    margin-left: 12px;

    @include vp-1023 {
      display: inline;
      font-size: 14px;
      line-height: 18px;
      margin-left: 4px;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include vp-1023 {
    justify-content: start;
  }

  @include vp-767 {
  }
}

.left-list {
  padding: 0;
  columns: 2;
  column-gap: 30px;

  @include vp-1023 {
    column-gap: 99px;
  }

  @include vp-767 {
    columns: 1;
  }
}

.vp-1023 {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.vp-more-1023 {
  @include vp-1023 {
    display: none;
  }
}

.right-list {
  height: 100%;
  padding: 100px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  list-style: none;
  text-align: center;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: start;
    gap: 0;
  }

  @include vp-767 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__item {
    max-width: 192px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    @include vp-1023 {
      min-width: 150px;
      gap: 10px;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }

    @include vp-767 {
      gap: 0px;
      min-width: 120px;
    }
  }
}

.vp-1023-right-list-item-1 {
  margin: 0 0 0 0;
  //transform: translateX(3px);

  @include vp-767 {
    margin: 50px 33px 0 0px;
    //transform: translate(-18px, 10px);
  }
}

.vp-1023-right-list-item-2 {
  margin: 23px 0 0 26px;
  //transform: translate(15px, 23px);

  @include vp-767 {
    margin: 9px 0px 0px 0px;
    // transform: translate(20px, -13px);
  }
}

.vp-1023-right-list-item-3 {
  margin: 0 0 0 -5px;
  // transform: translate(6px, 0px);

  @include vp-767 {
    margin: 40px 0px 0 -23px;
    // transform: translate(-17px, 40px);
  }
}

.vp-1023-right-list-item-4 {
  margin: 80px 8px 0 0;
  //transform: translate(-4px, 79px);

  @include vp-767 {
    margin: -18px 8px 0 0;
    //transform: translate(-16px, 0px);
  }
}

.waves-svgrepo-com {
  @include vp-1023 {
    margin: 0 0 3px 0;
  }

  @include vp-767 {
    margin: 0;
  }
}
