.panoramic-photo-screen {
  position: relative;
  margin-bottom: 120px;
  min-height: 740px;

  @include vp-1023 {
    margin-bottom: 80px;
    min-height: 460px;
  }

  @include vp-767 {
    margin-bottom: 60px;
    min-height: 300px;
  }

  &__picture {
    position: absolute;
    height: 100%;
    width: 100%;

    @include vp-767 {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      min-height: 300px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include vp-767 {
      position: relative;
      min-height: 300px;
    }
  }

  &__wrap {
    position: relative;
    min-height: 710px;
    display: flex;
    align-items: end;
    justify-content: center;

    @include vp-1023 {
      min-height: 430px;
    }

    @include vp-767 {
      height: auto;
      display: block;
      margin: 0 auto;
      min-height: auto;
    }
  }

  &__text {
    display: block;
    max-width: 800px;
    text-align: center;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: -5px;

    @include vp-1023 {
      max-width: 520px;
      font-size: 40px;
      line-height: 46px;
      text-transform: uppercase;
      letter-spacing: -3px;
    }

    @include vp-767 {
      display: block;
      margin: 0 auto;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.08em;
      padding: 0;
    }
  }
}
