.park {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 78px;
  }

  @include vp-767 {
    margin-bottom: 60px;
  }

  &__wrap {
    display: flex;
    gap: 173px;
    margin-bottom: 63px;
    align-items: center;

    @include vp-1150 {
      gap: 10px;
      margin-bottom: 10px;
    }

    @include vp-1023 {
      gap: 46px;
      margin-bottom: 36px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 41px;
    }
  }

  &__item {
    @include vp-1023 {
      max-width: 342px;
    }
  }

  &__picture {
    @include vp-1023 {
    }

    @include vp-767 {
      display: block;
      width: auto;
      object-fit: cover;
    }
  }

  &__image {
    @include vp-1023 {
    }

    @include vp-767 {
      display: block;
      width: auto;
      padding: 0;
      object-fit: cover;
    }
  }

  &__title {
    max-width: 440px;
    padding: 0;
    margin: 0 0 30px 0;
    letter-spacing: -3px;

    @include vp-1150 {
      padding: 20px 0 0 0;
    }

    @include vp-1023 {
      padding: 0;
      margin: 0 0 19px 0;
      letter-spacing: -0.08em;
    }

    @include vp-767 {
      padding: 0 0 0 0;
      margin: 0 0 11px 0;
    }
  }

  &__list {
    margin: 0 0 0 0;
    max-width: 480px;
    padding: 0 0 0 18px;

    @include vp-1023 {
      padding: 0 0 0 15px;
    }

    @include vp-767 {
      margin: 0 0 12px 0;
    }
  }

  &__list-item {
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: -1px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      margin-bottom: 10px;
    }
  }

  &__list-item:last-child {
    margin-bottom: 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__center {
    padding: 60px 0 0 0;
    max-width: 210px;

    @include vp-1023 {
      padding: 45px 0 0 0px;
    }

    @include vp-767 {
      padding: 16px 0 0 0px;
    }
  }

  &__number {
    display: block;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 140px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    margin-bottom: 20px;
    letter-spacing: -0.04em;

    @include vp-1023 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 90px;
      line-height: 70px;
      letter-spacing: -2px;
    }

    @include vp-767 {
      font-size: 70px;
      line-height: 50px;
      display: block;
      margin-bottom: 17px;
    }
  }

  &__symbol {
    margin-left: 20px;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0;

    @include vp-1023 {
      margin-left: 5px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;

    @include vp-1023 {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  &__arrow-left {
    display: block;
    width: 500px;

    @include vp-1023 {
      width: 261px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__arrow-left-vp-375 {
    display: none;

    @include vp-767 {
      display: block;
      width: 90px;
      height: 16px;
      margin: 33px 0 0 4px;
    }
  }

  &__arrow-right {
    display: block;
    width: 500px;

    @include vp-1023 {
      width: 261px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__arrow-right-vp-375 {
    display: none;

    @include vp-767 {
      display: block;
      width: 90px;
      height: 16px;
      margin: 33px 0 0 0;
    }
  }
}
