.main {
}

.card-rounding-bottom {
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  overflow: hidden;
}

.card-rounding-top {
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: $ff-tenor;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  color: $color-fallow;

  @include vp-1023 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -2px;
    text-transform: uppercase;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -2px;
  }
}

.rectangle {
  border: 1px solid $color-fallow;
  border-bottom: none;
}

li::marker {
  color: $color-fallow;
}

@import "sections/_panoramic-photo-screen";
@import "sections/_cards-location";
@import "sections/photo-river";
@import "sections/list-benefits";
@import "sections/_park";
@import "sections/_building-cards";
@import "sections/_leave-request";
@import "sections/office-sminex";
